---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About ">
  <Main>
	<H1 text="About  Rythm Nation Blog"></H1>
    <p> This is all about</p>
  </Main>
</Layout>

<style></style>
